# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
*.whl

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Environment
.env
*.env

# Docker & Logs
*.log
*.pid
docker-compose.override.yml

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
